In [ ]:
if condition1:
    task block of code
elif condition2:
    task block of code
elif condition3:
    task block of code
    .
    .
    .
elif condition n:
     task n
else:
    task block of code

In [11]:
x=9
if x%2==0:
    print("Even")
else:
    print("odd")

odd

In [13]:
7%2

1

In [15]:
x%2==0

False

In [17]:
x>6

True

wap to know the number is positive,negative or zero

In [20]:
x=-5.8
if x>0:
    print('pos')
elif x<0:
    print('neg')
else:
    print('zero')

neg

In [22]:
x=6
if x>0:
    print('pos')
    if x<10:
        print('M')
    elif x>20:
        print('K')
    elif x<10:
        print('T')
elif x<0:
    print('neg')

    if x<-20:
        print('Q')
    elif x>-300:
        print('Z')

else:
    print('zero')

pos
M

In [24]:
x='telangana'
x='Tiger'
x='Tan'

In [26]:
x='lion'
x='mumbai'

In [28]:
x='tiger'
if x[0]=='t' or x[0]=='T':
    print('Yes')
else:
    print('no')

Yes

In [30]:
x='Tan'
if x[0]=='t' or x[0]=='T':
    print('Yes')
else:
    print('no')

Yes

In [32]:
x='lion'
x='mumbai'

In [34]:
x='mumbai'
if x[0].lower() in ('t','s','m'):
    print('yes')
else:
    print('no')

yes

In [36]:
if x[0]=='s' or x[0]=='S' or x[0]=='m' or x[0]=='M' or x[0]=='h' or x[0]=='h':
    print('Yes')
else:
    print('No')

Yes

for loop while loop

In [39]:
print('data')
print('data')
print('data')
print('data')
print('data')

data
data
data
data
data

In [41]:
def functionname(parameter):
    block of code
    return output

SyntaxError: invalid syntax (3462563280.py, line 2)